


*{
    margin : 0px;
    padding : 0px;
}

/* body */
body{
    background-color: cyan;
}

/* container */
.container {
    
    margin-left: 7rem;
    color: black;
    text-decoration: none;
    display : grid;
    grid-template-columns: 35% 75%;
    
    gap: 5rem;
    margin-bottom : 15rem;
    
}



.image img{
    width:auto;
    height: 20rem;
}

/* Heading */
.Heading{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.Heading h1{
    margin-bottom: 1.5rem;
}

.content{
    width: 70%;
    font-size: 1.5rem;
}

/* #Buisness_Setup */
#Buisness_Setup{
    /* display: grid; */
    gap : none;
    
}
#Buisness_Setup_image{
    margin-top: -2.5rem;
    

}

#Shortcuts{
    
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding : 0px 2rem;
}

#Shortcuts h3{
    z-index: 1;
    color : white;
}

#Shortcuts div{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    
    width: 20rem;
    height: 20rem;
    border: 7px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 1s;
}

#Shortcuts div a{
    height: 19rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Service Heading */
#ServiceHeading{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}


/* shortcut heading */
#Shortcuts div h3{
    justify-content: center;
    text-align: center;
    z-index: 1;

    font-size: 2rem;
    color: white;

}

/* Shortcut background */
#Payroll_Shortcut::before{
    border-radius: 50px;
    position: absolute;
    content : "";
    height: 20rem;
    width: 19rem;
    z-index: -1;
    /* opacity: 0.5; */
    background-image: url('../images/Services_Shortcut/payroll.jpg');
    /* background-size: cove; */
    
}

#Other_Services_Shortcut::before{
    border-radius: 50px;
    position: absolute;
    content : "";
    height: 20rem;
    width: 19rem;
    z-index: -1;
    /* opacity: 0.5; */
    background-image: url('../images/osx.jpg');
    background-size: cover;
    background-position: -3rem center;

}


#Buisness_Compliance_Shortcut::before{
    content : "";
    background-image: url("../images/Services_Shortcut/Buisnes_Compliances.jpg");
    border-radius: 50px;
    position: absolute;
    content : "";
    height: 20rem;
    width: 19rem;
    z-index: -1;
    /* opacity: 0.5; */
   background-size: cover;
    /* background-size: cove; */

}


/* #shortcut transition */
#Shortcuts div:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color : white;
    cursor : pointer

   
}

#bike{
width: 1rem;
height: auto;

}